[submodule "zsh/prezto"]
	path = zsh/prezto
	url = https://github.com/sorin-ionescu/prezto.git
	ignore = dirty

[submodule "ranger/plugins/ranger_devicons"]
	path = ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
	ignore = dirty
