fonts/**/*.uuid

# Vim custom settings
vim/settings/**/*.vim
!vim/settings/before/main.vim

# Vim plugins
vim/.local.bundles
vim/.local.bundles.bak
vim/plugged
vim/autoload/plug.vim

vim/sessions
vim/backups
vim/view
*un~
vim/.netrwhist
vim/tmp
vim/spell

.netrwhist
bin/subl
tags
nvim/.local.vim

nvim/settings/**/*.vim
!nvim/settings/before/main.vim
!nvim/settings/after/main.vim
