custom/zsh

fonts/**/*.uuid
vim/backups
vim/view
*un~
vim/.netrwhist
vim/tmp
vim/spell

# Vim custom settings
vim/settings/before/*.vim
vim/settings/*.vim
vim/settings/after/*.vim
vim/after/.vimrc.after

# Vim plugins
vim/.local.bundles
vim/.local.bundles.bak
vim/plugged
vim/autoload/plug.vim

vim/sessions
.netrwhist
bin/subl
tags
